<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="o1310.rx1310.app.aideweb.projer" >

	<original-package android:name="o1310.rx1310.app.aideweb.projer" />

	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<supports-screens 
		android:anyDensity="true" 
		android:largeScreens="true" 
		android:normalScreens="true" 
		android:resizeable="true" 
		android:smallScreens="true" 
		android:xlargeScreens="true" />

	<uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />

	<application
		android:requestLegacyExternalStorage="true"
		android:icon="@mipmap/ic_launcher" 
		android:roundIcon="@mipmap/ic_launcher_round"
		android:label="@string/app_name" 
		android:theme="@style/AppTheme"
		android:resizeableActivity="true">
		
		<meta-data android:name="android.max_aspect" android:value="2.1"/>

		<activity
			android:theme="@style/AppTheme.NoActionBar"
			android:fitsSystemWindows="true"
			android:name=".activity.MainActivity"
			android:label="@string/activity_main">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />
				<!--action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" /-->
				<action android:name="android.intent.action.APPLICATION_PREFERENCES" />

                <category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.PREFERENCE" />

            </intent-filter>

        </activity>
		
		<activity
			android:theme="@style/AppTheme.NoActionBar"
			android:fitsSystemWindows="true"
			android:name=".activity.ProjerActivity"
			android:label="@string/activity_projer">
			
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="o1310.rx1310.app.aideweb.projer.activity.MainActivity"/>
			
		</activity>
		
		<activity
			android:label="@string/activity_settings"
			android:theme="@style/AppTheme.Preferences"
			android:name=".activity.SettingsActivity">

			<intent-filter>
				
				<action android:name="android.intent.action.APPLICATION_PREFERENCES" />
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="com.cyanogenmod.category.LAUNCHER_PREFERENCES" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE"/>
                
				<data android:host="projer.settings" android:scheme="rx1310"/>
					
			</intent-filter>

			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value="o1310.rx1310.app.aideweb.projer.activity.MainActivity"/>

		</activity>
			
	</application>

</manifest>
